:root{
    --fundoCor: #10553B;
    --fundoCor2: #2CE59E;
    --textoCor: #06573D;
    --textoCotBotao: rgb(6, 87, 61);
    --botaoCor: #7cffd3;

}

body{
    background-color: var(--fundoCor);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: var(--textoCor);
}

div {
    background-color: var(--fundoCor2);
    border-radius: 1em;
    text-align: center;
    padding-top: 0.009em;
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 13em;
    box-shadow: 1px -1px 15px 1px #00000073;
}

h1{
    text-align: center;
    margin-bottom: 0em;
}

#birthday {
    margin-top: 1em;
    margin-bottom: 1.2em;
    padding: 0.8em 2em 0.8em 2em;
    border: 0px solid;
    border-radius: 0.5em;
}

#btn{
    background-color: var(--botaoCor);
    padding: 0.5em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bolder;
    border-radius: 0.2em;
    border: 0px solid;
    color: var(--textoCotBotao);
}

#result{
    margin-top: 0.2em;
    padding-bottom: 0.5em;
}